body{
    margin: 0;
    padding: 0;
    background-color: #eee;
}

/* navbar style goes here  */
.bg-custom{
    background-color: #2874f0;
    color: #f0f0f0;
}
.nav-link{
    color: #f0f0f0 !important;
    font-weight: bold !important;
}
.navbar-collapse{
    flex-grow: 0;
}
.search-bar{
    width: 20rem;
    border-radius: 0;
}

/* carosal styles goes here */
.carousel{
    margin: .5rem;
}
.carousel-control-next, .carousel-control-prev{
    top: 29%;
    width: 4%;
    height: 40%;
    background-color: #eee;
    opacity: 2;
}
.carousel-control-next{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.carousel-control-prev{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Body css */
.colored-row{
    background-color: #ffffff;
}
.heading-sec{
    border-bottom: 1px solid #eee;
}
.heading-sec > h4{
 margin: 1rem 0;
}
.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-container > img{
    width: 120px;
    margin: 1rem 0;
}
.product-container > h5{
    font-size: 12px;
    margin: .5rem 0;
}
.product-col{
    margin: 1rem 0;
}

/* footer goes here */
.footer-container{
    margin-top: 1rem;
    background-color: #172337;
    color: #fff;
}
.footer-container h6{
    color: #4b5568;
    padding-left: 2rem;
}
.footer-container h5{
    color: #4b5568;
    text-align: center;
    font-size: .85rem;
}
.footer-container p{
    font-size: 12px;
}
ul{
    list-style: none;
    margin: 0;
}