body{
    margin: 0;
    padding: 0;
    background-color: #eee;
}
.bg-color{
    background-color: #fff;
    margin: 15px 0;
}

.custom-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.prd-img{
    height: 120px;
}

.prd-name{
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    margin: 3px 0;
}